$colorprimario: black;
$colorsecundario: yellow;
$webkit: rgba(121, 121, 6, 0.562);
$colorterciario: rgba(255, 255, 0, 0.562);
$coloralt: grey;
$letracolors: rgb(194, 192, 179);
$letralt: white;
$coloralt2: rgba(58, 56, 56, 0.952);
$btoncolor: rgb(44, 43, 43);
$formback: rgb(14, 12, 12);
$back:linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #050202, #0a0404, #0e0605, #150b06, #191006, #1a1507, #1a1909);
