$contactos: (
gmail:  invert(31%) sepia(49%) saturate(7098%) hue-rotate(349deg) brightness(85%) contrast(145%),
instagram:  invert(15%) sepia(87%) saturate(7273%) hue-rotate(317deg) brightness(104%) contrast(104%),
whatsapp: invert(62%) sepia(58%) saturate(4506%) hue-rotate(80deg) brightness(110%) contrast(107%),
);